Sphinx
sphinx-gallery
sphinx_rtd_theme
sphinx_design
docutils
sphinx-copybutton
sphinxcontrib.katex
sphinxcontrib.aafig
myst_parser
functorch
gym[classic_control]
torchrl

# PyTorch Theme
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
