# task and env
env:
  env_name: HalfCheetah-v4

# collector
collector:
  frames_per_batch: 64
  total_frames: 1_000_000

# logger
logger:
  backend: wandb
  project_name: torchrl_example_a2c
  group_name: null
  exp_name: Mujoco_Schulman17
  test_interval: 1_000_000
  num_test_episodes: 5

# Optim
optim:
  lr: 3e-4
  weight_decay: 0.0
  anneal_lr: False

# loss
loss:
  gamma: 0.99
  mini_batch_size: 64
  gae_lambda: 0.95
  critic_coef: 0.25
  entropy_coef: 0.0
  loss_critic_type: l2
