# env and task
env:
  name: HalfCheetah-v2
  task: ""
  library: gym
  exp_name: iql_halfcheetah-medium-v2
  n_samples_stats: 1000
  frame_skip: 1
  seed: 0

# logger
logger:
  backend: wandb
  eval_iter: 500
  eval_steps: 1000
  mode: online
  eval_envs: 5

# replay buffer
replay_buffer:
  dataset: halfcheetah-medium-v2
  batch_size: 256

# optimization
optim:
  device: cuda:0
  lr: 3e-4
  weight_decay: 0.0
  gradient_steps: 100000

# network
model:
  hidden_sizes: [256, 256]
  activation: relu
  default_policy_scale: 1.0
  scale_lb: 0.1

# loss
loss: 
  loss_function: l2
  gamma: 0.99
  tau: 0.005

# IQL specific hyperparameter
  temperature: 3.0
  expectile: 0.7
