# env and task
env:
  name: HalfCheetah-v4
  task: ""
  exp_name: iql_${replay_buffer.dataset}
  n_samples_stats: 1000
  seed: 0
  backend: gymnasium

# logger
logger:
  backend: wandb
  project_name: torchrl_example_iql
  exp_name: iql_${replay_buffer.dataset}
  group_name: null
  eval_iter: 500
  eval_steps: 1000
  mode: online
  eval_envs: 5

# replay buffer
replay_buffer:
  dataset: halfcheetah-medium-v2
  batch_size: 256

# optimization
optim:
  device: cuda:0
  lr: 3e-4
  weight_decay: 0.0
  gradient_steps: 50000

# network
model:
  hidden_sizes: [256, 256]
  activation: relu
  default_policy_scale: 1.0
  scale_lb: 0.1

# loss
loss: 
  loss_function: l2
  gamma: 0.99
  tau: 0.005

# IQL specific hyperparameter
  temperature: 3.0
  expectile: 0.7
