# env and task
env:
  name: Hopper-v4
  task: ""
  library: gym
  n_samples_stats: 1000
  seed: 0
  backend: gymnasium

# logger
logger:
  backend: wandb
  project_name: torchrl_example_cql
  group_name: null
  exp_name: cql_${replay_buffer.dataset}
  # eval iter in gradient steps
  eval_iter: 5000
  eval_steps: 1000
  mode: online
  eval_envs: 5
  video: False

# replay buffer
replay_buffer:
  dataset: hopper-medium-v2
  batch_size: 256

# optimization
optim:
  device: null
  actor_lr: 3e-4
  critic_lr: 3e-4
  weight_decay: 0.0
  gradient_steps: 1_000_000
  policy_eval_start: 40_000

# policy and model
model:
  hidden_sizes: [256, 256]
  activation: relu
  default_policy_scale: 1.0
  scale_lb: 0.1

# loss
loss: 
  loss_function: l2
  gamma: 0.99
  tau: 0.005
# CQL specific hyperparameter
  temperature: 1.0
  min_q_weight: 1.0
  max_q_backup: False
  deterministic_backup: False
  num_random: 10
  with_lagrange: True
  lagrange_thresh: 5.0 # tau

compile:
  compile: False
  compile_mode:
  cudagraphs: False
