# Comprehensive TorchRL Transforms Configuration
# This file contains all available transforms from torchrl with their proper _target_ values

# Base Transform (abstract, not meant to be instantiated directly)
# Transform:
#   _target_: torchrl.envs.transforms.transforms.Transform

# Core Transforms from transforms.py
NoopResetEnv:
  _target_: torchrl.envs.transforms.transforms.NoopResetEnv
  noops: 30
  random: true

StepCounter:
  _target_: torchrl.envs.transforms.transforms.StepCounter
  max_steps: null
  truncated_key: "truncated"
  step_count_key: "step_count"
  update_done: true

Compose:
  _target_: torchrl.envs.transforms.transforms.Compose
  transforms: []

ToTensorImage:
  _target_: torchrl.envs.transforms.transforms.ToTensorImage
  from_int: null
  unsqueeze: false
  dtype: null
  in_keys: null
  out_keys: null
  shape_tolerant: false

ClipTransform:
  _target_: torchrl.envs.transforms.transforms.ClipTransform
  in_keys: null
  out_keys: null
  in_keys_inv: null
  out_keys_inv: null
  low: null
  high: null

TargetReturn:
  _target_: torchrl.envs.transforms.transforms.TargetReturn
  target_return: 10.0
  mode: "reduce"
  in_keys: null
  out_keys: null
  reset_key: null

RewardClipping:
  _target_: torchrl.envs.transforms.transforms.RewardClipping
  clamp_min: null
  clamp_max: null
  in_keys: null
  out_keys: null

BinarizeReward:
  _target_: torchrl.envs.transforms.transforms.BinarizeReward
  in_keys: null
  out_keys: null

Resize:
  _target_: torchrl.envs.transforms.transforms.Resize
  w: 84
  h: 84
  interpolation: "bilinear"
  in_keys: null
  out_keys: null

Crop:
  _target_: torchrl.envs.transforms.transforms.Crop
  top: 0
  left: 0
  height: 84
  width: 84
  in_keys: null
  out_keys: null

CenterCrop:
  _target_: torchrl.envs.transforms.transforms.CenterCrop
  height: 84
  width: 84
  in_keys: null
  out_keys: null

FlattenObservation:
  _target_: torchrl.envs.transforms.transforms.FlattenObservation
  in_keys: null
  out_keys: null

UnsqueezeTransform:
  _target_: torchrl.envs.transforms.transforms.UnsqueezeTransform
  dim: 0
  in_keys: null
  out_keys: null

SqueezeTransform:
  _target_: torchrl.envs.transforms.transforms.SqueezeTransform
  dim: 0
  in_keys: null
  out_keys: null

PermuteTransform:
  _target_: torchrl.envs.transforms.transforms.PermuteTransform
  dims: [0, 2, 1]
  in_keys: null
  out_keys: null

GrayScale:
  _target_: torchrl.envs.transforms.transforms.GrayScale
  in_keys: null
  out_keys: null

ObservationNorm:
  _target_: torchrl.envs.transforms.transforms.ObservationNorm
  loc: 0.0
  scale: 1.0
  in_keys: null
  out_keys: null
  standard_normal: false
  eps: 1e-8

CatFrames:
  _target_: torchrl.envs.transforms.transforms.CatFrames
  N: 4
  dim: -3
  in_keys: null
  out_keys: null

RewardScaling:
  _target_: torchrl.envs.transforms.transforms.RewardScaling
  loc: 0.0
  scale: 1.0
  in_keys: null
  out_keys: null
  standard_normal: false
  eps: 1e-8

FiniteTensorDictCheck:
  _target_: torchrl.envs.transforms.transforms.FiniteTensorDictCheck
  in_keys: null
  out_keys: null

DTypeCastTransform:
  _target_: torchrl.envs.transforms.transforms.DTypeCastTransform
  dtype: "torch.float32"
  in_keys: null
  out_keys: null
  in_keys_inv: null
  out_keys_inv: null

DoubleToFloat:
  _target_: torchrl.envs.transforms.transforms.DoubleToFloat
  in_keys: null
  out_keys: null
  in_keys_inv: null
  out_keys_inv: null

DeviceCastTransform:
  _target_: torchrl.envs.transforms.transforms.DeviceCastTransform
  device: "cpu"
  in_keys: null
  out_keys: null
  in_keys_inv: null
  out_keys_inv: null

CatTensors:
  _target_: torchrl.envs.transforms.transforms.CatTensors
  dim: -1
  in_keys: null
  out_keys: null

UnaryTransform:
  _target_: torchrl.envs.transforms.transforms.UnaryTransform
  fn: null
  in_keys: null
  out_keys: null

Hash:
  _target_: torchrl.envs.transforms.transforms.Hash
  in_keys: null
  out_keys: null

Tokenizer:
  _target_: torchrl.envs.transforms.transforms.Tokenizer
  vocab_size: 1000
  in_keys: null
  out_keys: null

Stack:
  _target_: torchrl.envs.transforms.transforms.Stack
  dim: 0
  in_keys: null
  out_keys: null

DiscreteActionProjection:
  _target_: torchrl.envs.transforms.transforms.DiscreteActionProjection
  num_actions: 4
  in_keys: null
  out_keys: null

FrameSkipTransform:
  _target_: torchrl.envs.transforms.transforms.FrameSkipTransform
  frame_skip: 4
  in_keys: null
  out_keys: null

TensorDictPrimer:
  _target_: torchrl.envs.transforms.transforms.TensorDictPrimer
  primer_spec: null
  in_keys: null
  out_keys: null

PinMemoryTransform:
  _target_: torchrl.envs.transforms.transforms.PinMemoryTransform
  in_keys: null
  out_keys: null

VecNorm:
  _target_: torchrl.envs.transforms.transforms.VecNorm
  in_keys: null
  out_keys: null
  decay: 0.99
  eps: 1e-8

RewardSum:
  _target_: torchrl.envs.transforms.transforms.RewardSum
  in_keys: null
  out_keys: null

ExcludeTransform:
  _target_: torchrl.envs.transforms.transforms.ExcludeTransform
  exclude_keys: []

SelectTransform:
  _target_: torchrl.envs.transforms.transforms.SelectTransform
  include_keys: []

TimeMaxPool:
  _target_: torchrl.envs.transforms.transforms.TimeMaxPool
  dim: -1
  in_keys: null
  out_keys: null

RandomCropTensorDict:
  _target_: torchrl.envs.transforms.transforms.RandomCropTensorDict
  crop_size: [84, 84]
  in_keys: null
  out_keys: null

InitTracker:
  _target_: torchrl.envs.transforms.transforms.InitTracker
  in_keys: null
  out_keys: null

RenameTransform:
  _target_: torchrl.envs.transforms.transforms.RenameTransform
  key_mapping: {}

Reward2GoTransform:
  _target_: torchrl.envs.transforms.transforms.Reward2GoTransform
  gamma: 0.99
  in_keys: null
  out_keys: null

ActionMask:
  _target_: torchrl.envs.transforms.transforms.ActionMask
  mask_key: "action_mask"
  in_keys: null
  out_keys: null

VecGymEnvTransform:
  _target_: torchrl.envs.transforms.transforms.VecGymEnvTransform
  in_keys: null
  out_keys: null

BurnInTransform:
  _target_: torchrl.envs.transforms.transforms.BurnInTransform
  burn_in: 10
  in_keys: null
  out_keys: null

SignTransform:
  _target_: torchrl.envs.transforms.transforms.SignTransform
  in_keys: null
  out_keys: null

RemoveEmptySpecs:
  _target_: torchrl.envs.transforms.transforms.RemoveEmptySpecs

BatchSizeTransform:
  _target_: torchrl.envs.transforms.transforms.BatchSizeTransform
  batch_size: null
  reshape_fn: null
  reset_func: null
  env_kwarg: false

AutoResetTransform:
  _target_: torchrl.envs.transforms.transforms.AutoResetTransform
  replace: null
  fill_float: "nan"
  fill_int: -1
  fill_bool: false

ActionDiscretizer:
  _target_: torchrl.envs.transforms.transforms.ActionDiscretizer
  num_intervals: 10
  action_key: "action"
  out_action_key: null
  sampling: null
  categorical: true

TrajCounter:
  _target_: torchrl.envs.transforms.transforms.TrajCounter
  out_key: "traj_count"
  repeats: null

LineariseRewards:
  _target_: torchrl.envs.transforms.transforms.LineariseRewards
  in_keys: []
  out_keys: null
  weights: null

ConditionalSkip:
  _target_: torchrl.envs.transforms.transforms.ConditionalSkip
  cond: null

MultiAction:
  _target_: torchrl.envs.transforms.transforms.MultiAction
  dim: 1
  stack_rewards: true
  stack_observations: false

Timer:
  _target_: torchrl.envs.transforms.transforms.Timer
  out_keys: null
  time_key: "time"

ConditionalPolicySwitch:
  _target_: torchrl.envs.transforms.transforms.ConditionalPolicySwitch
  policy: null
  condition: null

# Transforms from gym_transforms.py
EndOfLifeTransform:
  _target_: torchrl.envs.transforms.gym_transforms.EndOfLifeTransform
  eol_key: "end-of-life"
  lives_key: "lives"
  done_key: "done"
  eol_attribute: "unwrapped.ale.lives"

# Transforms from rb_transforms.py
MultiStepTransform:
  _target_: torchrl.envs.transforms.rb_transforms.MultiStepTransform
  n_steps: 3
  gamma: 0.99
  in_keys: null
  out_keys: null

# Transforms from llm.py
KLRewardTransform:
  _target_: torchrl.envs.transforms.llm.KLRewardTransform
  in_keys: null
  out_keys: null

# Transforms from r3m.py
R3MTransform:
  _target_: torchrl.envs.transforms.r3m.R3MTransform
  in_keys: null
  out_keys: null
  model_name: "resnet18"
  device: "cpu"

# Transforms from vc1.py
VC1Transform:
  _target_: torchrl.envs.transforms.vc1.VC1Transform
  in_keys: null
  out_keys: null
  device: "cpu"

# Transforms from vip.py
VIPTransform:
  _target_: torchrl.envs.transforms.vip.VIPTransform
  in_keys: null
  out_keys: null
  device: "cpu"

VIPRewardTransform:
  _target_: torchrl.envs.transforms.vip.VIPRewardTransform
  in_keys: null
  out_keys: null
  device: "cpu"

# Transforms from vecnorm.py
VecNormV2:
  _target_: torchrl.envs.transforms.vecnorm.VecNormV2
  in_keys: null
  out_keys: null
  decay: 0.99
  eps: 1e-8

# TransformedEnv (not a transform but related)
TransformedEnv:
  _target_: torchrl.envs.transforms.transforms.TransformedEnv
  base_env: null
  transform: null
  cache_specs: true
  auto_unwrap: null

# AutoResetEnv (special case)
AutoResetEnv:
  _target_: torchrl.envs.transforms.transforms.AutoResetEnv
  base_env: null
  transform: null
  cache_specs: true
  auto_unwrap: null 