env:
  name: cheetah
  task: run
  seed: 0
  backend: dm_control
  frame_skip: 2
  from_pixels: True
  grayscale: False
  image_size : 64
  horizon: 500
  n_parallel_envs: 8
  device: null

collector:
  total_frames: 5_000_000
  init_random_frames: 3000
  frames_per_batch: 1000
  device: cuda:0

optimization:
  train_every: 1000
  grad_clip: 100
  batch_size: 2500
  batch_length: 50

  world_model_lr: 6e-4
  actor_lr: 8e-5
  value_lr: 8e-5
  kl_scale: 1.0
  free_nats: 3.0
  optim_steps_per_batch: 80
  gamma: 0.99
  lmbda: 0.95
  imagination_horizon: 15
  compile: False
  compile_backend: inductor
  use_autocast: True

networks:
  exploration_noise: 0.3
  device: cuda:0
  state_dim: 30
  rssm_hidden_dim: 200
  hidden_dim: 400
  activation: "elu"


replay_buffer: 
  buffer_size: 20000
  batch_size: 50
  scratch_dir: ${logger.exp_name}_${env.seed}

logger:
  backend: wandb
  project: dreamer-v1
  exp_name: ${env.name}-${env.task}-${env.seed}
  mode: online
  # eval interval, in collection counts
  eval_iter: 10
  eval_rollout_steps: 500
