# task and env
env:
  name: Walker2d-v3
  task: ""
  exp_name: ${env.name}_TD3
  library: gym
  seed: 42
  max_episode_steps: 5000

# collector
collector:
  total_frames: 1000000
  init_random_frames: 25_000
  init_env_steps: 1000
  frames_per_batch: 1000
  max_frames_per_traj: 1000
  reset_at_each_iter: False
  collector_device: cpu
  env_per_collector: 1
  num_workers: 1

# replay buffer
replay_buffer:
  prb: 0 # use prioritized experience replay
  size: 1000000
  scratch_dir: ${env.exp_name}_${env.seed}

# optim
optim:
  utd_ratio: 1.0
  gamma: 0.99
  loss_function: l2
  lr: 3.0e-4
  weight_decay: 0.0
  adam_eps: 1e-8
  batch_size: 256
  target_update_polyak: 0.995
  policy_update_delay: 2
  policy_noise: 0.2
  noise_clip: 0.5

# network
network:
  hidden_sizes: [256, 256]
  activation: relu
  device: "cuda:0"

# logging
logger:
  backend: wandb
  mode: online
  eval_iter: 25000
