pip
protobuf
gym[atari]==0.13
hypothesis
future
cloudpickle
pygame
moviepy<2.0.0
tqdm
pytest
pytest-cov
pytest-mock
pytest-instafail
pytest-rerunfailures
pytest-error-for-skips
pytest-asyncio
expecttest
pybind11[global]
pyyaml
scipy
hydra-core
patchelf
pyopengl==3.1.0
