matplotlib
numpy
sphinx-copybutton
sphinx-gallery
sphinx===5.0.0
Jinja2==3.1.4
sphinx-autodoc-typehints
sphinx-serve==1.0.1
git+https://github.com/vmoens/aafig@4319769eae88fff8e3464858f3cf8c277f35335d
sphinxcontrib-htmlhelp
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
myst-parser
docutils
sphinx_design

torchvision
dm_control
mujoco
gym[classic_control,accept-rom-license,ale-py,atari]
pygame
tqdm
ipython
imageio[ffmpeg,pyav]
memory_profiler
pyrender
pytest
vmas
onnxscript
onnxruntime
onnx
plotly
igraph
transformers
datasets
