matplotlib
numpy
sphinx-copybutton
sphinx-gallery
sphinx
Jinja2
sphinx-autodoc-typehints
sphinx-serve
git+https://github.com/vmoens/aafig@4319769eae88fff8e3464858f3cf8c277f35335d
sphinxcontrib-htmlhelp
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
myst-parser
docutils

torchvision
dm_control
atari-py
ale-py
gym[classic_control,accept-rom-license]
pygame
tqdm
ipython
imageio[ffmpeg,pyav]
memory_profiler
pyrender
