# This workflow builds the torchrl docs and deploys them to gh-pages.
name: Generate documentation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch:
jobs:
  build_docs_job:
    strategy:
      matrix:
        python_version: ["3.8"]
      fail-fast: false
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.4xlarge.nvidia.gpu
      repository: pytorch/rl
      gpu-arch-type: cuda
      gpu-arch-version: ${{ matrix.cuda_arch_version }}
      timeout: 45
      script: |
        # Set env vars from matrix
        export PYTHON_VERSION=${{ matrix.python_version }}
        # Commenting these out for now because the GPU test are not working inside docker
        # export CUDA_ARCH_VERSION=${{ matrix.cuda_arch_version }}
        # export CU_VERSION="cu${CUDA_ARCH_VERSION:0:2}${CUDA_ARCH_VERSION:3:1}"
        # Remove the following line when the GPU tests are working inside docker, and uncomment the above lines
        export CU_VERSION="cpu"

        echo "PYTHON_VERSION: $PYTHON_VERSION"
        echo "CU_VERSION: $CU_VERSION"
        
        cd /work

        ## setup_env.sh
        ./.circleci/docs/setup_env.sh

  deploy:
    needs: build_docs_job
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
         - os: linux.12xlarge
           python-version: 3.8
    defaults:
      run:
        shell: bash -l {0}
    container: nvidia/cuda:11.8.0-cudnn8-devel-ubuntu18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Deploy
      if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }}
      uses: JamesIves/github-pages-deploy-action@releases/v4
      with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages # The branch the action should deploy to.
          folder: docs/_local_build/ # The folder the action should deploy.
