hypothesis
future
cloudpickle
pytest
pytest-cov
pytest-mock
pytest-instafail
pytest-rerunfailures
pytest-error-for-skips
pytest-asyncio
expecttest
pybind11[global]
pyvers
pyyaml
scipy
psutil
hydra-core
minari[gcs,hdf5,hf,create]
gymnasium>=1.2.0
ale-py
gymnasium-robotics
mujoco 
